* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html, body {
    height: 100%;
}

body {
    font-size: 1.6rem;
    background-color: #F9FBFC;
}

#header {
    background-color: #1D539E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

#header h1, 
#header p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #FFF;   
}

#header h1 {
   font-size: 4.8rem;
}

#header p {
    width: 480px;
    text-align: center;
    margin-top: 1.5rem;
}

#cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 35px;
}

.card {
    position: relative;
    top: -100px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 2px rgba(142, 150, 185, 0.25);
    border-radius: 8px;
    width: 355px;
    height: 450px;
    padding: 20px;
}

.info {
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
}

.info #title {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.5rem;
    color: #1E2338;
    margin-bottom: 20px;
}

.info #price {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.5rem;
    color: #828799;
    margin-bottom: 20px;
}

.info #price span {
    font-size: 3.6rem;
    font-weight: bold;
    color: #1E2338;
}

.info #price span span{
    font-size: 2rem;
}

.info #desc {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.9rem;
    color: #828799;
}

.content .itens {
    display: flex;
    align-items: center;
    margin: 13px 0;
}

.content .itens img {
    margin-right: 10px;
}

.content .itens p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.9rem;
    color: #828799;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button button {
    width: 296px;
    height: 49px;
    border: 1px solid #1D539E;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.5rem;
    text-transform: uppercase;
    color: #1D539E;
    background-color: transparent;
    position: absolute;
    bottom: 20px;
}

.basic-plan {
    height: 480px;
}

.basic-plan .info div #popular{
    background-color: #1D539E;
    border-radius: 40px;
    padding: 8px 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.6rem;
    text-align: center;
    color: #FFF;
}

.basic-plan .content .itens p {
    font-size: 1.6rem;
}

.basic-plan .button button {
    color: #FFF;
    background-color: #1D539E;
    bottom: 40px;    
}



@media (max-width: 1165px) {

    .basic-plan {
        height: 450px;
    }

    .card {
        top: -100px;
    }
    
}

@media (max-width: 550px) {
 
    #header h1 {
       font-size: 3rem;
    }
    
    #header p {
        width: 300px;
        text-align: center;
        margin-top: 1.5rem;
    }

    .card {
        width: 300px;
        height: 400px;
    }

    .button button {
        width: 260px;
        height: 49px;
        font-size: 1.5rem;
    }

}


